{% extends 'base.html' %}

{% block title %}
Guidelines
{% endblock %}

{% block content %}
<!-- skills section -->
<section id="skills" class="py-5">
  <div class="container">
    <!-- title -->
    <div class="row mb-4">
      <div class="col text-center">
        <h1 class="display-4 text-light text-uppercase mb-0">
          <strong>guidelines</strong>
        </h1>
        <div class="title-underline bg-danger"></div>
      </div>
    </div>
    <!-- end of title -->
    <div class="row">
      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">Power on</h3>
        <p>
          How to turn on the computer system
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal">press here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">Start app</h3>
        <p>
          How to start an application
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal2">press
          here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">Quit app</h3>
        <p>
          How to quit an application
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal3">press
          here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">start menu</h3>
        <p>
          How to use the start menu
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal4">press
          here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">app search</h3>
        <p>
          How to search for applications not on the desktop
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal5">press
          here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">file search</h3>
        <p>
          How to search for a file saved on the computer
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal6">press
          here</button>
      </div>
      <!-- end of column -->


      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">Print</h3>
        <p>
          How to print
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal7">press
          here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">scan</h3>
        <p>
          How to use the scanner
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal8">press
          here</button>
      </div>
      <!-- end of column -->

      <!-- single column -->
      <div class="col-md-6 col-lg-4 text-center my-4">
        <h3 class="text-uppercase my-3">system shutdown</h3>
        <p>
          How to shutdown the computer system
        </p>
        <button type="button" class="btn btn-outline-danger w-75 text-uppercase" data-toggle="modal" data-target="#modal9">press
          here</button>
      </div>
      <!-- end of column -->

    </div>
  </div>
</section>


<!-- end of skills section -->

    <!-- Power on modal -->
    <div class="modal fade" id="modal">
      <div class="modal-dialog">
        <div class="modal-content bg-dark">
          <!-- modal header -->
          <div class="modal-header">
            <h3 class="modal-title">Instructions</h3>
            <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
          </div>
          <!-- modal body -->
          <div class="modal-body">
            <p>Check that the computer is connected to power, and is powered on.</p>
            <p>Make sure that your keyboard and mouse are plugged in.</p>
            <p>Check that the monitor (screen) is plugged into the computer using its display cable.</p>
            <p>Ensure that the monitor is connected to power and is turned on.</p>
            <p>Press the power button to turn the computer on.</p>
          </div>
          <!-- modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
<!-- end of power on modal -->



    <!-- Start app modal -->
    <div class="modal fade" id="modal2">
      <div class="modal-dialog">
        <div class="modal-content bg-dark">
          <!-- modal header -->
          <div class="modal-header">
            <h3 class="modal-title">Instructions</h3>
            <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
          </div>
          <!-- modal body -->
          <div class="modal-body">
            <p>Choose Start→All Programs.</p>
            <p>Click the program name on the All Programs list that appears.</p>
            <p>You see a list of programs; just click the program on that sublist to open it.</p>
          </div>
          <!-- modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end of Start app modal -->


        <!-- Quit app modal -->
        <div class="modal fade" id="modal3">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                <p>You close apps with the mouse or touch using the red X button</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of Quit app modal -->


        <!-- START MENU modal -->
        <div class="modal fade" id="modal4">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                <p>To open the Start menu—which contains all your apps, settings, and files—do either of the following:</p>
                <p>On the left end of the taskbar, select the Start icon.</p>
                <p>Press the Windows logo key on your keyboard.</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of START MENU modal -->


        <!-- APP SEARCH modal -->
        <div class="modal fade" id="modal5">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                <p>In the search bar located on the left-hand side of your taskbar;</p>
                <p>Next to the Windows button;</p>
                <p>Type the name of the app, document, or file that you're looking for.</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of APP SEARCH modal -->


        <!-- FILE SEARCH modal -->
        <div class="modal fade" id="modal6">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                  <p>In the search bar located on the left-hand side of your taskbar;</p>
                  <p>Next to the Windows button;</p>
                  <p>Type the name of the app, document, or file that you're looking for.</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of FILE SEARCH modal -->


        <!-- PRINT modal -->
        <div class="modal fade" id="modal7">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                <p>Open the document or file you want to print.</p>
                <p>
                In the top portion of the program window or browser you're using, open the file menu by clicking File and then Print
                from the drop-down menu.</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of PRINT modal -->


        <!-- SCAN modal -->
        <div class="modal fade" id="modal8">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                <p>Connect the scanner to your PC.</p>
                <p>Place the material to be scanned into the scanner, just as though you were using a photocopier. Turn the scanner on, if
                necessary.</p>
                <p>Press the scan button on the scanner, which is the button to acquire a digital image.</p>
                <p>Preview the scan.</p>
                <p>Select the scan area in the scanner software.</p>
                <p>Set other options.</p>
                <p>Scan the image.</p>
                <p>Save the image to disk.</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of SCAN modal -->


        <!-- SYSTEM SHUTDOWN modal -->
        <div class="modal fade" id="modal9">
          <div class="modal-dialog">
            <div class="modal-content bg-dark">
              <!-- modal header -->
              <div class="modal-header">
                <h3 class="modal-title">Instructions</h3>
                <button type="button" class="close btn-light" data-dismiss="modal">&times;</button>
              </div>
              <!-- modal body -->
              <div class="modal-body">
                <p>Click the ‘Windows’ button at the bottom left-hand corner of your screen.</p>
                <p>Click Shut down.</p>
              </div>
              <!-- modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <!-- end of SYSTEM SHUTDOWN modal -->
{% endblock %}
